name: Python package

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.10", "pypy3.7"]

    env:
      MINIZINC_URL: https://github.com/MiniZinc/MiniZincIDE/releases/download/2.6.4/MiniZincIDE-2.6.4-x86_64.AppImage
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Add bin/ to PATH
        run: |
          mkdir -p ${{ github.workspace }}/bin
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH
      - name: Install libfuse (AppImage dependency)
        run: |
          sudo apt-get update
          sudo apt-get install libfuse2
      - name: Cache MiniZinc
        id: cache-minizinc
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/bin/minizinc
          key: ${{ env.MINIZINC_URL }}
      - name: Download MiniZinc
        if: steps.cache-minizinc.outputs.cache-hit != 'true'
        run: |
          sudo curl -o ${{ github.workspace }}/bin/minizinc -L $MINIZINC_URL
          sudo chmod +x ${{ github.workspace }}/bin/minizinc
          minizinc --version
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --with ci
      - name: Test with tox
        run: poetry run tox

  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --with ci
      - name: Test with tox
        run: poetry run tox -e docs
      - uses: actions/upload-artifact@v2
        with:
          name: documentation
          path: dist/docs/
